/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #0e46469f;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #12544c;
}

.resume-main {
	background-color: #c4eee7;
}

.resume-aside {
	background-color: #729b8e;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "-";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: pink;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.fw-bolder { 
font-family: 'bornneo', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
color: #021513
}

.mini-headline {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #075d5d;
font-weight: bolder;
font-style: italic;
}

.fst-italic-tagline {
font-family: cursive;
color: #03201c
}

.fst-italic {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #496b47;
font-weight: bolder;
}

.bg-warning {
background-color: #c4eee7 !important;
}

.language-level {
	border-color: #135f55 !important;
}

.bg-custom {
	background-color: #135f55;
}

